<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <hr />
    <div class="row">
      <div class="col">
        <a
          href="{{ url_for('help_page') }}"
          class="text-decoration-none text-muted mx-2"
          >Help</a
        >
        <a
          href="{{ url_for('privacy') }}"
          class="text-decoration-none text-muted mx-2"
          >Privacy</a
        >
        <a
          href="{{ url_for('secure_form') }}"
          class="text-decoration-none text-muted mx-2"
          >Secure Form Template</a
        >
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <small class="text-muted">© 2026 Huddle. All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
